*,
html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13pt;
}

header {
  text-align: center;
  padding: 5px;
  background-color: rgb(2, 19, 2);
  color: #fff;
  opacity: .8;
}

header, table, caption{
   border: 1px solid mediumaquamarine;
}
nav {
   width: 70%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: auto;
   border-bottom: 2px solid #fff;
}
h1{
   font-size: 1.3em;
   padding: 8px;
}
h2{
   padding-top: 5px;
}

table {
  font-family: arial, sans-serif;
  width: 100%;
  background: orange;
  border-collapse: collapse;
  /* border-spacing: 0; */
  padding: 5px;
}

th, caption, tr:nth-child(even) {
  background: rgb(239, 59, 59);
  color: #fff;
}

caption{
   font-weight: bold;
}

tr {
  text-align: center;
  color: #fff;
}

th,
td {
  border: 1px solid rgb(179, 179, 189);
  padding: 7px;
}
